{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>To Do Items</h2>
          {% if view_model is defined and view_model.todo_items is defined and view_model.todo_items|length > 0 %}
            {% for item in view_model.todo_items %}
              <form method="post" action="{{ url_for('start_item', item_id=item.id) }}" class="form-inline">
                <div class="form-row">
                  <div class="col-15">
                    <label for="{{ item.id }}">{{ item.title }}</label>
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-primary btn-sm">Start</button>
                  </div>
                </div>
              </form>
              <br/>
            {% endfor %}
          {% else %}
            No items
          {% endif %}  
      </div>
      <div class="col-sm">
        <h2>Doing Items</h2>
          {% if view_model is defined and view_model.doing_items is defined and view_model.doing_items|length > 0 %}
            {% for item in view_model.doing_items %}
              <form method="post" action="{{ url_for('complete_item', item_id=item.id) }}" class="form-inline">
                <div class="form-row">
                  <div class="col-15">
                    <label for="{{ item.id }}">{{ item.title }}</label>
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-primary btn-sm">Complete</button>
                  </div>
                </div>
              </form>
              <br/>
            {% endfor %}
          {% else %}
            No items
          {% endif %}  
      </div>
      <div class="col-sm">
        <h2>Done Items</h2>
          {% if view_model is defined and view_model.done_items is defined and view_model.done_items|length > 0 %}
            {% if view_model.should_show_all_done_items %}
              {% for item in view_model.done_items %}
                  <div class="form-row">
                    <div class="col-15">
                      <label for="{{ item.id }}">{{ item.title }}</label>
                    </div>
                  </div>
                <br/>
              {% endfor %}
            {% else %}
              {% for item in view_model.recent_done_items %}
                  <div class="form-row">
                    <div class="col-15">
                      <label for="{{ item.id }}">{{ item.title }}</label>
                    </div>
                  </div>
                <br/>
              {% endfor %}
              <details>
                <summary>Older items</summary>
                {% for item in view_model.older_done_items %}
                  <label for="{{ item.id }}">{{ item.title }}</label><br/>
                {% endfor %}
              </details>
            {% endif %}
          {% else %}
            No items
          {% endif %}  
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <h2>Add New Item</h2>
      <form action="/" method="POST" class="form-inline">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Title</div>
          </div>
          <input type="text" class="form-control" id="item_title" name="item_title" placeholder="Buy coffee">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form> 
    </div>
  </div>
{% endblock %}